.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; */
  width: 100%;
  height: 100%;
  /* 16:9 Aspect Ratio */
}

.video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-wrapper button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;